.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  background-color: #F6F6F6;
  width: 82%;
  min-height: 100vh;
  margin: 50px auto;
  padding: 60px 30px 50px 30px;
  border-radius: 25px;
  font-family: Montserrat;
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 95%;
  height: 340px;

}

.card {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 340px;



  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    line-height: 1.2;
    max-width: 40%;
  }
}


@media (max-width: 1024px) {

  .home {
    place-items: center;
  }

  .card-list {
    place-items: center;
    gap: 30px;
    background-color: #F6F6F6;
    padding: 30px 20px 15px 30px;
    margin: 30px 0 30px 0px;
    width: 88.5%;

  }

  .card-link {
    width: 100%;
    height: 100%;
  }

  .card {
    width: 100%;
    height: 100%;

    .card-image {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 767.98px) {
  .card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 22px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .card-link {
    width: 100%;
    height: 100%;
  }

  .card {
    width: 89.5%;
    height: 100%;

    .card-image {
      width: 100%;
      height: 100%;
    }
  }
}