.logement-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;

    .slideshow {
        position: relative;
        width: 100%;
        max-width: none;
        height: 500px;
        margin: 0 auto;

        .slideshow-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .slideshow-controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }

        .slideshow-controls .prev img,
        .slideshow-controls .next img {
            width: 50px;
            height: 50px;
        }

        .prev,
        .next {
            background: none;
            border: none;
            font-size: 2rem;
            color: white;
            cursor: pointer;
        }

        .slide-number-container {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
        }

        .slide-number {
            color: white;
            font-size: 1rem;
        }
    }

    .logement-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;

        h1 {
            color: #FF6060;
            font-size: 30px;
            font-weight: normal;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .tag {
                background-color: #FF6060;
                color: white;
                padding: 5px 20px;
                border-radius: 10px;
                font-size: 14px;
            }
        }

        .host-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 200px;

            .host-details {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .host-name {
                    margin-right: 10px;
                    color: #FF6060;
                }

                .host-picture {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
            }

            .rating {
                display: flex;
                gap: 5px;
                margin-top: 10px;

                .star {
                    font-size: 20px;
                    color: lightgray;
                    background-image: url('/pictures/picto/star.svg');

                    &.filled {
                        color: #FF6060;
                        background-image: url('/pictures/picto/star-filled.svg');
                    }
                }
            }
        }
    }

    .collapse-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;


        .collapse {
            width: 45%;
            margin-bottom: 15px;

            .collapse-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #FF6060;
                color: white;
                width: 96%;
                padding: 10px;
                border-radius: 10px;


                .collapse-title {
                    font-weight: bold;
                }

                .collapse-toggle {
                    background: none;
                    border: none;
                    color: white;
                    font-size: 1.2rem;
                    cursor: pointer;
                }
            }

            .collapse-content {
                width: 100%;
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.1s ease;
                color: black;
                background-color: #e6e6e6;
                border-radius: 5px;
                box-sizing: border-box;

                &.open {
                    max-height: 500px;
                    padding: 10px;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .logement-header {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .slideshow {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .slide-number-container {
        display: none;
    }

    .slideshow-controls .prev img,
    .slideshow-controls .next img {
        width: 40px;
        height: 40px;
    }

    h1 {
        position: relative;
    }

    .tags {
        width: 100%;
    }

    .host-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
    }

    .host-details {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .rating {
        display: flex;
        gap: 5px;
    }

    .collapse-container {
        flex-direction: column;
        width: 100%;
    }

    .collapse {
        width: 100%;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .collapse-header {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
}